.App {
  text-align: center;
  background:linear-gradient(180deg,rgb(255,115,0),rgb(229,229,229) ,rgb(62,217,0));
  }
.loader{
  width:100%;
  position:absolute;
  top:0;
  z-index:10;
}
.front-img{
  width:4.5rem;
  object-fit:contain;
  filter:drop-shadow(0px 2px 5px #434343);
}
.glass-morphism{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow:0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter:blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.Data-table{
  height:100vh;
}
.flash{
  border-radius:50%;
  width:80px;
  height:60px;
  text-wrap:wrap;
  font-size:1rem;
  font-weight:bolder;
  color:#474747;
  display:flex;
  margin:auto;
  align-items:center;
  justify-content: center;
  padding:0.5rem;
  white-space: wrap;
  transform:rotate(-30deg);
  animation:flash 1s linear infinite;
}
@keyframes flash{
  0%{
    background:#ff3d00;
  }
  30%{
    background:rgb(0,137,255);
  }
  60%{
    background:rgb(255,86,0);
  }
  100%{
    background:rgb(126,234,250);
    
  }
}