
.App {
  text-align: center;
  height:100vh;
  background: rgb(255,226,63);
  background: radial-gradient(circle, rgba(255,226,63,1) 15%, rgba(241,52,46,1) 100%);
  }
.loader{
  width:100%;
  position:absolute;
  top:0;
  z-index:10;
}
.text-small{
  font-size:0.8rem;
  font-weight: bolder;
  line-height:0.2rem;
  line-height:0.2rem;
}
.bg-notfound{
  background:linear-gradient(45deg,#0054a6,#53f3fc);
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.notfound-text{
  font-size:10rem;
  font-stretch: 0.5;
  font-weight: bolder;
  color:rgb(190,190,190);
  text-shadow:0px 2px 2px #333333;
  margin-bottom:1rem;
}
.front-img{
  width:13rem;
  object-fit:contain;
  filter:drop-shadow(0px 2px 5px #434343);
}
.heading{
  font-size:1.8rem;
}
.glass-morphism{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow:0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter:blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.Data-table{
  height:100vh;
}
.flash{
  position:absolute;
  left:12%;
  top:23%;
  transform:translate(-50%,-50%) rotate(-35deg);
  font-size:1.3rem;
  font-weight:bolder;
  padding:0.5rem;
  animation:flash 1s linear infinite;
}
@keyframes flash{
  0%{
    color:rgb(134,30,0);
  }
  30%{
    color:rgb(0,68,127);
  }
  60%{
    color:rgb(8,75,0);
  }
  100%{
    color:rgb(64,0,119);
    
  }
}
@media screen and (max-width:768px){
 .front-img{
    width:4.5rem;
  } 
}