@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.App-wrapper{
  background: radial-gradient(circle, rgb(0,125,156) 15% rgb(240,240,240) 100%);
  overflow-y: scroll;
  font-family: 'Lobster', cursive;
}
.App {
  text-align: center;
  height:100%;
  background: radial-gradient(circle, rgb(255,255,255) 15% ,rgb(0,112,140) 100%);
  }
.loader{
  width:100%;
  position:absolute;
  top:0;
  z-index:10;
}
.text-small{
  font-size:0.8rem;
  font-weight: bolder;
  line-height:0.2rem;
  line-height:0.2rem;
  font-family: 'Lobster', cursive;
}
.bg-notfound{
  background:linear-gradient(45deg,#0054a6,#53f3fc);
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.notfound-text{
  font-size:10rem;
  font-stretch: 0.5;
  font-weight: bolder;
  color:rgb(190,190,190);
  text-shadow:0px 2px 2px #333333;
  margin-bottom:1rem;
  font-family: 'Lobster', cursive;
}
.front-img{
  object-fit:cover;
}
.front-img img{
  width:15rem;
  filter:drop-shadow(0px 5px 10px #434343);
  
}
.heading{
  font-size:2rem;
  /*font-family: 'Lobster', cursive;*/
}
.main-head{
  display:flex;
  flex-direction:column;
  align-items:center;
  /*transform:rotate(5deg);*/
  font-family: 'Lobster', cursive;
}
.main-content{

  font-family: 'Lobster', cursive;
}
.d-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
.glass-morphism{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow:0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter:blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.Data-table{
  height:100vh;
}

@media screen and (max-width:768px){
 .front-img img{
    width:3.5rem;
  } 
}